<!DOCTYPE html>
<html lang="en">
<head>
 
    <title>Profile Page</title>
</head>
<body>
    <%- include('../common/header') %>
    <h1>
        DYNAMIC CONTENT IS COMING.
    </h1>
    <h2>
       
    </h2>

    
</body>
</html>